<div class="form-group row">
    <label class="col-sm-2 col-form-label">User Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="userName" [(ngModel)]="user.userName" placeholder="User Name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-4">
      <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <button type="button" class="btn btn-primary" (click)="loginUser()">Login</button>
      </div>
    </div>
  