<div class="row">
    <div class="col-5">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of profiles" (click)="getProfileById(p)">
            <td>{{p.firstName}}</td>
            <td>{{p.lastName}}</td>
            <td>{{p.phoneNumber}}</td>
          </tr>
          </tbody>
  </table>
  
  
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">User Details</div>
            <div class="card-body">
  
                <ul class="list-group" *ngIf="selectedProfile">
                    <li class="list-group-item">
                      <span>First Name: </span>{{selectedProfile.firstName}}</li>
                    <li class="list-group-item">
                        <span>Last Name: </span>{{selectedProfile.lastName}}</li>
                    <li class="list-group-item">
                        <span>User Name: </span>{{selectedProfile.userName}}</li>
                        <li class="list-group-item">
                            <span>Age: </span>{{selectedProfile.age}}</li>
                  </ul>
            </div> 
           
          </div>
  
    </div>
    
  </div>
  